@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@font-face{
  font-family: "ponderosa";
  src: local("ponderosa"),
    url("./font/ponde___.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ponderosa',sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 94, 121, 1) 26%, rgba(0, 212, 255, 1) 100%);
  gap: 1em;
  height: 100vh;
}

body h1 {
  color: black;
}

.board {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 40%;
}

.level {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score {
  color: #f3f3f4;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  flex-wrap: wrap;
}

.game div {
  display: flex;
  width: 7em;
  border: 1px solid black;
  height: 7em;
  margin: 1em;
  padding: 1em;
  transform: scale(1);
  border-radius: 1em;
}

.red {
  background: url('./gifs/1.gif');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.blue {
  background: url('./gifs/2.gif');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.green {
  background: url('./gifs/3.gif');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.orange {
  background: url('./gifs/4.gif');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.purple {
  background: url("./gifs/5.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.six {
  background: url("./gifs/6.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.seven {
  background: url("./gifs/7.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.eight {
  background: url("./gifs/8.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.nine {
  background: url("./gifs/9.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.ten {
  background: url("./gifs/10.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.eleven {
  background: url("./gifs/11.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.twelve {
  background: url("./gifs/12.gif");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

.color-hidden {
  background: url('./gifs/blue-emoji.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


div .freeze {
  cursor: default;
}

.victory {
  color: #ff3860;
  display: none;
}

.btn {
  font-family: 'ponderosa',sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(25deg, rgba(2, 0, 36, 1) 0%, rgba(9, 94, 121, 1) 9%, rgba(0, 212, 255, 1) 100%);
  border: none;
  color: yellow;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  border-radius: .3em;
  margin-top: 2em;
  flex-basis: auto;
  width: 8em;
}

.how-to {
  background: rgb(2, 0, 36);
  background: linear-gradient(195deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 116, 1) 38%, rgba(0, 212, 255, 1) 100%);
  color: yellow;
  font-weight: 500;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  list-style: none;
  gap: .6em;
  display: none;
}

#reset {
  display: none;
}

#again {
  display: none;
}

@media (max-width: 768px) {

  body {
    gap: .6em;
  }

  .game {
    width: 80%;
  }

  .score {
    width: 80%;
  }

  .game div {
    width: 1em;
    height: 1em;
  }

  .how-to {
    align-items: flex-start;
    gap: 0;
  }

  .how-to>button {
    align-self: center;
  }
}